$White: hsl(0, 0%, 100%);
$Grey: hsl(0, 0%, 20%);
$Green: hsl(75, 94%, 57%);
$Dark-Grey: hsl(0, 0%, 12%);
$Off-Black: hsl(0, 0%, 8%);

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: $Off-Black;
}
.flex-items {
  display: flex;
  flex-direction: column;
}

// Styles
body {
  font-family: "Inter", sans-serif;
  padding: 2em;
  min-height: 100vh;
  display: grid;
  place-content: center;
  gap: 20px;
}
.container {
  background-color: $Dark-Grey;
  max-width: 500px;
  padding: 2.5em;
  border-radius: 8px;

  .profile-info {
    @extend .flex-items;
    align-items: center;
    gap: 30px;

    .avatar {
      img {
        width: 88px;
        border-radius: 50%;
      }
    }
  }
  .user-info {
    @extend .flex-items;
    align-items: center;
    gap: 10px;

    h1 {
      color: $White;
      font-size: clamp(1.5rem, 0.6091rem + 1.0182vw, 2rem);
    }
    p {
      color: $Green;
      font-weight: 700;
      font-size: clamp(1rem, 0.4909rem + 0.5818vw, 1.5rem);
    }
  }
  q {
    color: $White;
    font-weight: 400;
    font-size: clamp(0.75rem, 0.3977rem + 0.5455vw, 1.2rem);
    width: 100%;
    text-align: center;
  }
  .links {
    @extend .flex-items;
    margin-block-start: 30px;
    a + a {
      margin-block-start: 15px;
    }
    a {
      background-color: $Grey;
      text-align: center;
      text-decoration: none;
      color: $White;
      font-weight: 700;
      font-size: clamp(0.9rem, 0.3977rem + 0.5455vw, 1rem);
      padding-block: 1em;
      border-radius: 8px;
      transition: all 0.4s ease-in-out;

      &:hover {
        color: $Grey;
        background-color: $Green;
      }
    }
  }
}
.attribution {
  font-size: clamp(0.7rem, 0.3977rem + 0.5455vw, 0.9rem);
  text-align: center;
  color: $White;
  font-weight: 600;
}
.attribution a {
  color: $Green;
}

@media (max-width: 600px) {
  body {
    padding: 2em;
  }
  .container {
    padding: 1.25em;

    .links {
      margin-block-start: 20px;
    }
  }
}
